body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgb(125, 157, 146);
}

a {
  text-decoration: none;
}

.site-menu,
.sub-menu {
  list-style-type: none;
}

.site-menu a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.sub-menu li:hover,
.sub-menu li:focus {
  background-color: rgb(251, 222, 215);
}

.sub-menu li:active {
  background-color: rgb(246, 181, 165);
}

.sub-menu li {
  background-color: rgb(248, 247, 244);
  width: 143px;
  padding-top: 16px;
  padding-left: 16px;
}

.sub-menu li a {
  color: rgb(50, 50, 50);
  font-weight: normal;
  line-height: 16px;
}

.sub-menu .new-items {
  font-weight: bold;
}

.sub-menu li:first-child {
  border-bottom: 1px solid rgb(235, 234, 231);
}

.empty-cart a,
.log-in a {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: normal;
}

.log-in {
  width: 93px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.log-in a:active {
  color: rgba(50, 50, 50, 1);
}

.site-navigation .log-in:active,
.site-navigation .log-in:focus {
  background-color: rgba(248, 247, 244, 1);
  width: 93px;
  height: 32px;
  border-radius: 50px;
}

.empty-cart {
  width: 93px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.empty-cart a:active {
  color: rgba(50, 50, 50, 1);
}

.site-navigation .empty-cart:active,
.site-navigation .empty-cart:focus {
  background-color: rgba(248, 247, 244, 1);
  width: 93px;
  height: 32px;
  border-radius: 50px;
}

.site-navigation .schedule {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.schedule span {
  color: rgba(255, 255, 255, 1);
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.slider-slides {
  text-align: center;
}

.slider-slides .slides-text {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: bold;
  line-height: 61px;
}

.inner-slider .slider-link {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: bold;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  width: 280px;
  height: auto;
  border-radius: 40px;
  text-align: center;
  padding: 18px 42px 18px 42px;
}

.promo-ad ul {
  list-style-type: none;
}

.promo-ad .promo-raspberry,
.promo-ad .promo-chocolate {
  width: 514px;
  height: 229px;
  box-sizing: content-box;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 22px;
  border-radius: 15px;
  padding-left: 21px;
  background-repeat: no-repeat;
}

.promo-raspberry h3,
.promo-chocolate h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  line-height: 41px;
  padding-left: 21px;
  padding-top: 22px;
}

.promo-ad .promo-raspberry {
  background-image: url("../img/promo-raspberry-background.jpg");
}

.promo-ad .promo-chocolate {
  background-image: url("../img/promo-chocolate-background.jpg");
}

.promo-ad .buttons {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: bold;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 40px;
  text-align: center;
  padding: 16px 25px 17px 24px;
}

.hits-items ul,
.icecream-catalog .icecream-item-list {
  list-style-type: none;
}

.hits-items .icecream-link,
.icecream-catalog .icecream-link {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: normal;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.hits-icecream img,
.icecream-item img,
.order .shopping-list .small-item-img {
  border-radius: 100%;
}

.hits-icecream .icecream-price,
.icecream-item .icecream-price {
  color: rgba(255, 255, 255, 1);
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hits-icecream .icecream-price span,
.icecream-item .icecream-price span {
  font-size: 30px;
}

.advantages {
  background-image: url("../img/waffle-background.jpg");
  width: 1146px;
  border-radius: 15px;
}

.advantages .about-us {
  color: rgba(50, 50, 50, 1);
  font-size: 24px;
  line-height: 30px;
  background-repeat: no-repeat;
}

.advantages .advantages-items li {
  color: rgba(50, 50, 50, 1);
  font-size: 16px;
  list-style-type: none;
}

.blog {
  background-image: url("../img/srawberry-background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  width: 560px;
  height: 221px;
  border-radius: 15px;
}

.blog h2 {
  color: rgba(50, 50, 50, 1);
  font-size: 16px;
  font-weight: normal;
}

.blog h3 {
  color: rgba(50, 50, 50, 1);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: underline;
}

.mailing .mailing-form {
  background-image: url("../img/mailing-background.png");
  background-repeat: no-repeat;
  font-family: "Roboto", "Arial", sans-serif;
  width: 560px;
  height: 220px;
}

.mailing-form button {
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 40px;
  text-align: center;
  padding: 10px 25px 10px 24px;
}

.mailing-form input[type="email"] {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  width: 369px;
  height: 42px;
}

.contacts .adress-tel-info {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  width: 302px;
  height: 305px;
}

.adress-tel-info p:not(b) {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
}

.adress-tel-info b {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  line-height: 24px;
}

.adress-tel-info .buttons {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: bold;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 10px 25px 10px 24px;
}

.adress-tel-info a:hover,
.sing-in-form .buttons:hover,
.feedback-form .feedback-send:hover,
.mailing-form .buttons:hover,
.promo-ad .buttons:hover,
.inner-slider .slider-link:hover,
.icecream-item .buttons:hover,
.hits-icecream .buttons:hover {
  background-image:
  linear-gradient(to bottom,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),
  linear-gradient(to top,rgb(231, 74, 53),rgb(242, 104, 67));
}

.adress-tel-info a:focus,
.sing-in-form .buttons:focus,
.feedback-form .feedback-send:focus,
.mailing-form .buttons:focus,
.promo-ad .buttons:focus,
.inner-slider .slider-link:focus,
.icecream-item .buttons:focus,
.hits-icecream .buttons:focus {
  background-image:
    linear-gradient(to bottom,rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.adress-tel-info a:active,
.sing-in-form .buttons:active,
.feedback-form .feedback-send:active,
.mailing-form .buttons:active,
.promo-ad .buttons:active,
.inner-slider .slider-link:active,
.icecream-item .buttons:active,
.hits-icecream .buttons:active {
  box-shadow: inset 0px 2px 2px 0 rgb(148, 39, 24);
  background-image:
    linear-gradient(to bottom,rgb(231, 74, 53),rgb(242, 104, 67)),
    linear-gradient(to bottom,rgba(0, 0, 0, 0.07),rgba(0, 0, 0, 0.07));
}

.main-footer ul {
  list-style-type: none;
}

.footer-links a {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.copyright p {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.copyright p>a {
  font: inherit;
  color: inherit;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.sing-in-form {
  display: none;
  background-color: rgba(248, 247, 244, 1);
  width: 276px;
  height: 215px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.sing-in-form input {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  width: 241px;
  height: 45px;
}

.sing-in-form .buttons {
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 10px 25px 10px 24px;
}

.sing-in-form .login-links {
  list-style-type: none;
}

.login-links a {
  color: rgba(50, 50, 50, 1);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  border-bottom: solid rgba(50, 50, 50, 1) 1px;
}

.search-form {
  display: none;
  background-color: rgba(248, 247, 244, 1);
  width: 344px;
  height: 84px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: bold;
}

.search-form input {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  width: 310px;
  height: 44px;
  margin-top: 14px;
  margin-left: 14px;
}

.feedback form {
  display: none;
  background-color: rgba(248, 247, 244, 1);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  width: 478px;
  height: 442px;
}

.feedback p {
  color: rgba(50, 50, 50, 1);
  font-size: 24px;
}

.feedback .feedback-send {
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 10px 25px 10px 24px;
}

.full-cart a {
  color: rgba(50, 50, 50, 1);
}

.site-navigation .full-cart {
  background-color: rgba(248, 247, 244, 1);
  width: 93px;
  height: 32px;
  border-radius: 50px;
}

.breadcrumb ul {
  list-style: none;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.breadcrumb a {
  font: inherit;
  color: inherit;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.container h1 {
  font-size: 35px;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.filter fieldset {
  border: none;
}

.catalog-filter .filter-type {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.catalog-filter li {
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.filter .sorting,
.filter input[type="range"],
.fat-content ul,
.flavors-type ul {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}

.filter .sorting:hover,
.filter input[type="range"]:hover,
.fat-content li:hover,
section.filter fieldset.flavors-type ul li:hover {
  color: rgba(50, 50, 50, 1);
}

.catalog-filter button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 10px 30px 10px 30px;
  border: 2px solid rgba(255, 255, 255, 1);
}

.catalog-filter button:hover,
.catalog-filter button:active {
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.catalog-filter button:active {
  color: rgb(50, 50, 50);
  box-shadow: inset 0px 2px 1px 0 rgb(105, 105, 105);
  background-color: rgb(237, 237, 237);
}

.icecream-item .buttons,
.hits-icecream .buttons {
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 15px 17px 15px 17px;
}

.paginator li {
  list-style-type: none;
}

.paginator a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
}

.paginator a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.paginator a:active,
.paginator a:focus
 {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
  border-radius: 50%;
  width: 26px;
  height: 26px;

}

.paginator .current-page-number {
  color: rgba(50, 50, 50, 1);
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  width: 26px;
  height: 26px;
}

.order {
  display: none;
  color: rgba(50, 50, 50, 1);
  font-size: 13px;
  background-color: rgba(248, 247, 245, 1);
  border-radius: 5px;
  width: 543px;
  height: 243px;
}

.order a {
  color: inherit;
}

.total td {
  font-size: 13px;
  font-weight: bold;
  border-top: 1px solid #cacac7;
}

.shopping-list .price-per-one {
  color: rgb(188, 188, 186);
}

.order .buttons {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.site-menu .current-page {
  background-color: rgba(208, 112, 88, 0.8);
  border-radius: 40px;
}

.sub-menu .current-menu-item {
  background-color: rgb(208, 112, 88);
}

.hits-items .hits-icecream:hover,
.icecream-catalog .icecream-item:hover,
.hits-items .hits-icecream:focus,
.icecream-catalog .icecream-item:focus {
  width: 294px;
  height: 406px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
}

.hits-icecream a:hover,
.icecream-item a:hover,
.footer-links a:hover,
.copyright .academy-link:hover,
.hits-icecream a:focus,
.icecream-item a:focus,
.footer-links a:focus,
.copyright .academy-link:focus,
.hits-icecream a:active,
.icecream-item a:active,
.footer-links a:active,
.copyright .academy-link:active {
  color: rgb(255, 188, 158);
  border-bottom: solid rgb(255, 188, 158) 1px;
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: rgb(232, 77, 55);
  border-bottom: solid rgb(232, 77, 55) 1px;
}

.blog h3:hover,
.blog h3:active,
.blog h3:focus {
  color: rgb(232, 77, 55);
}

.feedback-form input:hover,
.search-form input:hover,
.sing-in-form input:hover,
.feedback-form input:focus,
.search-form input:focus,
.sing-in-form input:focus {
  border: solid rgb(199, 198, 197) 2px;
}

.feedback-form input:active,
.search-form input:active,
.sing-in-form input:active,
.feedback-form input:focus,
.search-form input:focus,
.sing-in-form input:focus {
  border: solid rgb(143, 189, 236) 2px;
}

.sorting:hover {
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.2);
}
