body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: rgba(125, 157, 146, 0.8);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.site-container {
  width: 1250px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.site-navigation {
  display: flex;
  width: 1250px;
  /*Ширину нужно установить как на макете*/
  margin: 0 auto;
  flex-wrap: wrap;
}

.main-logo {
  margin-left: 52px;
  width: 154px;
  margin-top: 10px;
}

.site-menu,
.sub-menu {
  list-style-type: none;
}

.site-menu {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-left: 4px;
}

.site-menu a {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  padding: 5px 10px 5px 14px;
  position: relative;
}

.site-menu a::after {
  display: block;
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  left: 15%;
}

.site-menu li {
  display: inline-block;
  padding-left: 5px;
}

.site-menu a:not(.sub-menu>a):active {
  color: rgb(50, 50, 50);
  box-shadow: inset 0px 2px 1px 0 rgb(105, 105, 105);
  background-color: rgb(237, 237, 237);
  border-radius: 30px;
  padding: 5px 10px 5px 15px;
}

.main-menu>a:hover,
.main-menu>a:focus {
  color: rgb(50, 50, 50);
  background-color: rgb(247, 246, 243);
  border-radius: 30px;
}

.sub-menu li {
  padding: 0 0;
  margin: 0 0;
  display: block;
  background-color: rgb(248, 247, 244);
  width: 143px;
}

.sub-menu li:hover,
.sub-menu li:focus {
  background-color: rgb(251, 222, 215);
}

.sub-menu li:active {
  background-color: rgb(246, 181, 165);
}

.sub-menu a {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  border: none;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 15px;
  display: inline-block;
}

.sub-menu .new-items {
  font-weight: bold;
}

.sub-menu li:first-child {
  border-bottom: 1px solid rgb(235, 234, 231);
}

.sub-menu .current-menu-item {
  background-color: rgb(208, 112, 88);
}

.current-menu-item a {
  color: rgb(255, 255, 255);
}

.calatog-menu {
  position: relative;
}

.sub-menu-wrap {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 28px;
  z-index: 1;
  padding-top: 3px;
}

.calatog-menu:hover .sub-menu-wrap,
.calatog-menu:active .sub-menu-wrap,
.calatog-menu:focus .sub-menu-wrap {
  visibility: visible;
}

.sub-menu {
  overflow: hidden;
  border-radius: 5px;
  padding-left: 0px;
}

.current-page {
  border-radius: 30px;
  position: relative;
  margin-left: 5px;
}

.current-page>a {
  background-color: rgba(208, 112, 88, 1);
  padding: 7px 13px 7px 14px;
  border-radius: 40px;
  margin-right: 5px;
}
.current-page a::after{
  display: none;
}

.current-page ul{
  margin-top: 5px;
}


.user-field {
  width: auto;
  margin-right: 54px;
  align-items: center;
  padding: 0 0;
  margin-top: 1px;
  margin-left: auto;
  display: flex;
}

.calatog-menu .user-field {
  margin-right: 50px;
}

/* для удобства понимания расположения пунктов меню*/
.user-field p {
  display: inline-block;
}

.schedule {
  margin-left: 1032px;
  width: 168px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 0;
}

.schedule span {
  color: rgba(255, 255, 255, 1);
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 3px;
}

.empty-cart a,
.log-in a {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.log-in {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  margin-right: 10px;
}

.empty-cart {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}

.site-navigation .log-in:hover,
.site-navigation .log-in:active,
.site-navigation .log-in:focus,
.empty-cart:active,
.empty-cart:hover,
.empty-cart:focus {
  background-color: rgba(248, 247, 244, 1);
  color: rgb(50, 50, 50);
}

.log-in a:active,
.log-in a:hover,
.empty-cart a:active,
.empty-cart a:hover {
  color: rgba(50, 50, 50, 1);
}

.main-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/*Стили слайдера*/
.slides-text {
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.site-wrap {
  background-color: rgb(125, 157, 146);
  background-image: url("../img/icecream-cones-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  min-width: 1250px;
}

.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  margin: 0 auto;
  width: 1146px;
}

.slider-list {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

.slides-text {
  width: 675px;
  text-align: center;
  margin: 0 auto;
}

.buttons {
  display: inline-block;
  padding: 10px 40px;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.slider .buttons {
  margin-top: 30px;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
  top: 447px;
}

.slide {
  display: none;
}

#product-1:checked~.site-wrap #slide-1,
#product-2:checked~.site-wrap #slide-2,
#product-3:checked~.site-wrap #slide-3 {
  display: block;
}

#product-1:checked~.site-wrap label[for="product-1"],
#product-2:checked~.site-wrap label[for="product-2"],
#product-3:checked~.site-wrap label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked~.site-wrap {
  background-color: rgb(132, 157, 143);
  background-image: url("../img/icecream-cones-1.png");
}

#product-2:checked~.site-wrap {
  background-color: rgb(137, 150, 166);
  background-image: url("../img/icecream-cones-2.png");
}

#product-3:checked~.site-wrap {
  background-color: rgb(161, 143, 136);
  background-image: url("../img/icecream-cones-3.png");
}

/* Стили блока с рекламными акциями */
.promo-ad {
  width: 1146px;
  margin-top: 41px;
  margin-left: 52px;
}

.promo-ad ul {
  margin: 0 0;
  padding: 0 0;
}

.promo-ad-wrapper {
  display: flex;
  width: 1146px;
  list-style: none
}

.promo-raspberry,
.promo-chocolate {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  border-radius: 15px;
  background-repeat: no-repeat;
  width: 560px;
}

.promo-raspberry,
.promo-chocolate {
  display: flex;
  flex-wrap: wrap;
}

.promo-raspberry .buttons,
.promo-chocolate .buttons {
  margin-left: auto;
  margin-bottom: 23px;
  margin-right: 20px;
  margin-top: 10px;
  padding-bottom: 11px;
  padding-top: 12px;
  padding-left: 22px;
}

.promo-chocolate p, .promo-raspberry p {
  margin-left: 20px;
  margin-top: 14px;
  margin-right: 25px;
}

.promo-ad .promo-raspberry {
  /* Для случая, если не загрузится картинка*/
  background-color: rgba(156, 19, 45, 1);
  background-image: url("../img/promo-raspberry-background.jpg");
  margin-right: 26px;
}

.promo-ad .promo-chocolate {
  /* Для случая, если не загрузится картинка*/
  background-color: rgba(63, 38, 26, 1);
  background-image: url("../img/promo-chocolate-background.jpg");
}

.promo-ad .buttons {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 40px;
  text-align: center;
  margin-left: 375px width:auto;
  padding-left: 22px;
  padding-right: 22px;
  margin-top: 24px;
  margin-bottom: 23px;
}

.promo-raspberry h3,
.promo-chocolate h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  line-height: 41px;
  padding-top: 17px;
  padding-left: 19px;
  margin: 0 0;
}

/*Стили для хитов продаж и карточки товара*/
.hits-items {
  width: 1146px;
  margin-top: 35px;
  margin-bottom: 23px;
}

.hits-items-row,
.icecream-item-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  margin-left: 40px;
}

.icecream-item-list {
  width: 1250px;
  flex-wrap: wrap;
}

.hits-icecream,
.icecream-item {
  width: 267px;
  /*margin-right: 26px;*/
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-bottom: 17px;
}

.icecream-item-list li:nth-child(4n) {
  margin-right: 0px;
}

.hits-icecream figure, .icecream-item-list figure {
  margin: 0 0;
  padding: 0 0;
  position: relative;
}

.hits-icecream {
  position: relative;
}

.hit-icon {
  position: absolute;
  z-index: 2;
}

.hits-items ul,
.icecream-catalog .icecream-item-list {
  list-style-type: none;
}

.hits-items .icecream-link,
.icecream-catalog .icecream-link {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.hits-icecream img,
.icecream-item img,
.shopping-list .small-item-img {
  border-radius: 100%;
}

.hits-icecream .icecream-price,
.icecream-item .icecream-price {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 210px;
}

.icecream-price span {
  font-size: 30px;
  line-height: 45px;
}

.hits-icecream figcaption,
.icecream-item figcaption {
  text-align: center;
  margin-top: 11px;
}

.icecream-item .buttons,
.hits-icecream .buttons {
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  line-height: 24px;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding-left: 17px;
  padding-right: 17px;
  margin: 17px auto;
}

.hidden-btn {
  display: none;
}

.hits-items .hits-icecream:hover,
.icecream-catalog .icecream-item:hover,
.hits-items .hits-icecream:focus,
.icecream-catalog .icecream-item:focus {
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
}

.hits-icecream:hover .hidden-btn,
.icecream-item:hover .hidden-btn,
.hits-icecream:focus .hidden-btn,
.icecream-item:focus .hidden-btn {
  display: block;
}

.hits-icecream a:hover,
.icecream-item a:hover,
.footer-links a:hover,
.copyright .academy-link:hover,
.breadcrumb a:hover,
.breadcrumb a:focus,
.hits-icecream a:focus,
.icecream-item a:focus,
.footer-links a:focus,
.copyright .academy-link:focus,
.breadcrumb a:active,
.hits-icecream a:active,
.icecream-item a:active,
.footer-links a:active,
.copyright .academy-link:active {
  color: rgb(255, 188, 158);
  border-bottom: solid rgb(255, 188, 158) 1px;
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: rgb(232, 77, 55);
  border-bottom: solid rgb(232, 77, 55) 1px;
}

/*блок о достоинствах*/
.advantages {
  /* Для случая, если не загрузится картинка*/
  background-color: rgba(235, 223, 195, 1);
  background-image: url("../img/waffle-background.jpg");
  width: 1146px;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.advantages .about-us {
  color: rgba(50, 50, 50, 1);
  font-size: 24px;
  line-height: 30px;
  /*не получается достичь совпадаения по шрифту в макете*/
  margin-left: 23px;
  margin-right: 110px;
  font-weight: 500;
  margin-bottom: 22px;
}

.advantages-items li {
  color: rgba(50, 50, 50, 1);
  font-size: 16px;
  line-height: 22px;
  list-style-type: none;
  width: 476px;
  padding-left: 77px;
  padding-bottom: 22px;
  margin-right: 17px;
  position: relative;
}

.advantages-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0 0;
  padding-bottom: 1px;
}

.icecream-icon::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/icecream-icon.svg");
  position: absolute;
  left: 20px;
  top: -14px;
}

.cow-icon::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/cow-icon.svg");
  position: absolute;
  left: 19px;
  top: -14px;
}

.leaf-icon::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf-icon.svg");
  position: absolute;
  left: 20px;
  top: -14px;
}

.termo-icon::before {
  content: "";
  width: 49px;
  height: 49px;
  background-image: url("../img/termometr-icon.svg");
  position: absolute;
  left: 19px;
  top: -14px;
}

/*Стили для блога*/
.blog {
  /* Для случая, если не закрузится картинка*/
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../img/srawberry-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 560px;
  margin-bottom: 40px;
  margin-left: 52px;
}

.blog h2 {
  color: rgba(50, 50, 50, 1);
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin-top: 22px;
  padding-top: 0px;
}

.blog h3 {
  color: rgba(50, 50, 50, 1);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: underline;
  padding-top: 7px;
  padding-bottom: 80px;
}

.blog-header {
  margin: 0 0;
  margin-top: 26px;
  padding-left: 20px;
}

.blog-item {
  margin: 0 0;
  padding-bottom: 83px;
  margin-right: 250px;
  padding-left: 20px;
}

/*Стили ядля блока подписки на рассылку*/
.mailing {
  /* Для случая, если не загрузится картинка*/
  background-color: rgba(248, 247, 244, 1);
  color: rgba(90, 90, 90, 1);
  background-image: url("../img/mailing-background.png");
  background-repeat: no-repeat;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 22px;
  width: 560px;
  border-radius: 15px;
  margin-left: 25px;
  margin-bottom: 40px;
  /*height: 100%;*/
}

.mailing p {
  margin-bottom: 37px;
  margin-top: 35px;
  margin-left: 27px;
  margin-right: 24px;
}

.mailing-form p {
  margin: 0 0;
}

.mailing-form button {
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  line-height: 24px;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 40px;
  text-align: center;
  padding-bottom: 10px;
  padding-right: 18px;
  padding-top: 7px;
  padding-left: 15px;
}

.mailing-form input[type="email"] {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  width: 355px;
  height: 40px;
  line-height: 24px;
  margin-bottom: 40px;
  margin-left: 27px;
  margin-right: 7px;
  padding-left: 15px;
  border: solid 1px rgb(211, 211, 210);
  border-radius: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/*Стили для блока адреса и карты*/
.contacts {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.main-map {
  width: 1200px;
  position: relative;
}

.main-map::after {
  content: "";
  width: 180px;
  height: 218px;
  position: absolute;
  background-image: url("../img/pin.png");
  top: 137px;
  left: 265px;
  background-repeat: no-repeat;
}

.adress-tel-info {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
  width: 250px;
  margin-left: 870px;
  margin-top: 63px;
  margin-bottom: 64px;
  padding-left: 26px;
  padding-top: 28px;
  position: absolute;
  top: 0;
  left: 0px;
  margin-right: 54px;
  right: 27px;
  padding-right: 27px;
}

.adress-tel-info p {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 20px;
  margin-top: 0px;
  margin-right: 100px;
  margin-bottom: 0px;
}

.adress-tel-info .call-order {
  margin-right: 70px;
}

.adress-tel-info b {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  line-height: 24px;
}

.adress {
  margin-bottom: 20px;
  display: inline-block;
}

.adress-tel-info .tel {
  margin-bottom: 30px;
}

.adress-tel-info .buttons {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  margin-top: 29px;
  margin-bottom: 29px;
  padding-left: 22px;
  padding-right: 28px;
}

.buttons:hover,
.sing-in-form button:hover,
.order .buttons:hover,
.ing-in-form button:hover,
.feedback .feedback-send:hover
{
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}
.buttons:focus,
.sing-in-form button:focus,
.order .buttons:focus,
.ing-in-form button:focus,
.feedback .feedback-send:focus,
.buttons:focus {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.buttons:active,
.sing-in-form button:active,
.order .buttons:active,
.ing-in-form button:active,
.feedback .feedback-send:active,
.buttons:active  {
  box-shadow: inset 0px 2px 2px 0 rgb(148, 39, 24);
  background-image:
    linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
}

.main-footer ul {
  list-style-type: none;
}

.footer-links a {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.social-links li {
  display: inline-block;
}

.social-links ul {
  margin: 0;
  padding: 0;
}

.social-links {
  width: 267px;
  margin-top: 28px;
  margin-bottom: 30px;
}

.social-links a:hover {
  opacity: 1;
}

.social-links a:active,
.social-links a:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
}

.social-button-twitter a {
  background-image: url("../img/twitter-icon.svg");
  opacity: 0.8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 7px;
}

.social-button-instagram a {
  background-image: url("../img/instagram-icon.svg");
  opacity: 0.8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 7px;
}

.social-button-fb a {
  background-image: url("../img/facebook-icon.svg");
  opacity: 0.8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 7px;
}

.social-button-vk a {
  background-image: url("../img/vk-icon.svg");
  opacity: 0.8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 7px;
}

.footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-links {
  width: 400px;
  margin-left: 126px;
  margin-top: 28px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
}

.links-list a {
  display: inline-block;
  padding-right: 0px;
  margin-right: 14px;
  margin-top: 2px;
}

.links-list li {
  margin-right: 0px;
  padding-right: 18px;
}

.links-list li:nth-child(3) {
  padding-right: 28px;
}

.for-provider {
  position: relative;
}

.for-provider a::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  left: -23px;
  background-image: url("../img/heart-icon.svg");
  width: 15px;
  height: 13px;
  position: absolute;
}

.copyright {
  width: auto;
  margin-left: 130px;
  margin-top: 14px;
  margin-bottom: 25px;
}

.copyright p {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-top: 3px;
  padding-left: 2px;
}

.copyright a:not(.htmlacademy-logo) {
  font: inherit;
  color: inherit;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.copyright img {
  height: 35px;
}

.sing-in-form {
  /*display: none;*/
  /*временно до позиционирования*/
  margin: 20px;
  /**/
  background-color: rgba(248, 247, 244, 1);
  width: 276px;
  height: 215px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.sing-in-form input {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  width: 241px;
  margin-top: 20px;
  margin-left: 20px;
  border: solid rgb(211, 211, 210) 1px;
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.sing-in-form input:active,
  {
  font-weight: bold;
}

.sing-in-form .buttons {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  line-height: 24px;
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 10px 25px 10px 24px;
  margin-top: 20px;
  margin-left: 20px;
}

.sing-in-form .login-links {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
}

.login-links a {
  color: rgba(50, 50, 50, 1);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  border-bottom: solid rgba(50, 50, 50, 1) 1px;
}

.search-form {
  /*display: none;*/
  background-color: rgba(248, 247, 244, 1);
  width: 344px;
  height: 84px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: bold;
}

.search-form input {
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  width: 310px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 19px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: solid rgb(211, 211, 210) 1px;
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.search-form input:active,
.feedback input:active,
.search-form input:focus,
.feedback input:focus {
  font-weight: bold;
}

.feedback-form {
  /*display: none;*/
  /*временно*/
  margin: 10px;
  /**/
  background-color: rgba(248, 247, 244, 1);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  width: 478px;
  border-radius: 5px;
  position: relative;
}
.close-button {
 border: none;
 background: none;
 width: 30px;
 height: 30px;
 background-image:url("../img/cross-big.svg");
 background-repeat: no-repeat;
 position: absolute;
 cursor: pointer;
 top: 17px;
right: 0px;
left: 445px;
}

.feedback p {
  color: rgba(50, 50, 50, 1);
  line-height: 28px;
  font-size: 24px;
  padding-top: 20px;
  margin-top: 20px;
  padding-left: 24px;
  margin-bottom: 0px;
}

.feedback input {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
  width: 267px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 20px;
  border: solid rgb(211, 211, 210) 1px;
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.feedback textarea {
  font-size: 16px;
  line-height: 24px;
  width: 427px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 19px;
  margin-right: 20px;
  border: solid rgb(211, 211, 210) 1px;
  border-radius: 3px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.feedback .feedback-send {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  background-image:
    linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 10px 25px 10px 24px;
  margin-left: 315px;
  margin-bottom: 24px;
}

/*стили меню каталога*/
.catalog-menu li {
  padding-left: 0px;
}

.site-navigation .full-cart {
  background-color: rgba(248, 247, 244, 1);
  border-radius: 50px;
  font-weight: 500;
}

.breadcrumb {
  align-self: center;
  width: 224px;
  margin-right: 710px;
  padding-left: 54px;
  margin-top: 13px;
}

.schedule-inner {
  margin-left: auto;
  margin-right: 52px;
}

.breadcrumb ul {
  list-style: none;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  margin: 0 0;
  padding: 0 0;
}

.breadcrumb li {
  display: inline-block;
  padding-right: 5px;
}

.breadcrumb li:not(:last-child)::after {
  content: " »"
}

.breadcrumb a {
  font: inherit;
  color: inherit;
  border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
}

.main-container h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.catalog-heading {
  margin-right: 762px;
  width: 384px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.filter {
  margin-right: 267px;
  margin-top: 25px;
  margin-left: 50px;
  margin-bottom: 26px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.filter fieldset {
  border: none;
}

.catalog-filter ul {
  margin: 0 0;
  padding: 0 0;
}

.sorting-wrap {
  width: 193px;
  display: inline-block;
  margin-right: 14px;
  position: relative;
}

.range-wrap {
  width: 218px;
  display: inline-block;
}

.fat-filter-wrap {
  display: inline-block;
}

.flavors-wrap {
  width: 704px;
}

.sorting {
  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  color: rgb(255, 255, 255);
  padding-bottom: 7px;
  margin-top: 5px;
  /*Поддерживается не всеми браузерами*/
  -webkit-appearance: listbox;
  padding-right: 12px;
  padding-top: 5px;
  padding-left: 15px;
}
.sorting-wrap::after{
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  top: 35px;
  left: 155px;
}
.sorting-wrap:hover::after{
  background-image: url("../img/icon-down-dir-active.svg");
}
.catalog-filter .filter-type {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  display: inline-block;
  margin-left: 17px;
}

.catalog-filter li {
  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  display: inline-block;
}

.filter .sorting,
.filter input[type="range"],
.fat-content ul,
.flavors-type ul {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
}

.filter .sorting:hover,

/*не совсем поняла по стайлгайду черный только для сортировки или для других фильтров тоже?*/

.filter input[type="range"]:hover,
.fat-content li:hover,
.flavors-type li:hover {
  color: rgba(50, 50, 50, 1);
}

.catalog-filter button {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 1);
  align-self: center;
  display: inline-block;
  margin-left: 13px;
  margin-top: 15px;
  padding-left: 30px;
  padding-top: 8px;
  padding-bottom:8px;
  padding-right:28px;
}

.catalog-filter button:hover,
.catalog-filter button:active {
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.catalog-filter button:active {
  color: rgb(50, 50, 50);
  box-shadow: inset 0px 2px 1px 0 rgb(105, 105, 105);
  background-color: rgb(237, 237, 237);
}

.range-filter {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding-left: 22px;
  margin-top: 5px;
}

.scale {
  height: 2px;
  background-color: rgba(248, 247, 244, 0.5);
  width: 176px;
}

.rande-bar {
  height: 2px;
  background-color: rgba(248, 247, 244, 1);
  width: 63%;
  margin-left: 15px;
}

.range-controls {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.range-control-min {
    left: 38px;
    top: 6px;
}

.range-control-max {
  left: 63%;
  top: 6px;

}
.fat-content label:not([for="more-30%-content"]){
margin-right:17px;
}

.fat-content label,
.flavors-type label {
  padding-left: 30px;
  position: relative;
  }

.fat-content label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url("../img/radio-off.svg");
  opacity: 0.8;
  left: 0;
  top: -2px;
  background-repeat: no-repeat;
}
.fat-content label:hover::before,
.flavors-type label:hover::before{
    opacity: 1;
}

.fat-content label:disabled::before,
.flavors-type label:disabled::before{
    opacity: 0.4;
  }
.fat-content input[type="radio"]:checked + label::before{
  background-image: url("../img/radio-on.svg");
}

.fat-content ul {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.flavors-type{
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 2px;
  padding-right: 0px;
}

.flavors-type label::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.8;
  left: 0;
  top: -2px;
  background-repeat: no-repeat;
}
.flavors-type input[type="checkbox"]:checked + label::before{
  background-image: url("../img/checkbox-on.svg");
}

.flavors-type ul {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.flavors-type label:not([for="jam-check"]){
margin-right: 17px;
}

.icecream-catalog {
  width: auto;
  margin-bottom: 43px;
}

.paginator {
  margin-left: auto;
  margin-right: 42px;
}

.paginator li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 30px;
  text-align: center;
  width: 18px;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.paginator ul {
  margin: 0 0;
  padding: 0 0;
  padding-left: 30px;
  position: relative;
}

.paginator a {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  display: inline-block;
}

.paginator li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: auto;
}

.paginator a:active,
.paginator a:focus {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(50, 50, 50, 1);
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.paginator .current-page-number {
  color: rgba(50, 50, 50, 1);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 100%;
  text-align: center;
  padding: 5px;
  height: auto;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-top: 4px;
}

.paginator ul::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-right-small.svg");
  opacity: 0.2;
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 3px;
  transform: rotate(180deg);
}

.paginator li:last-of-type {
  position: relative;
}

.paginator li:last-of-type::after {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
  top: 10px;
}

.order {
  /*display: none;*/
  color: rgba(50, 50, 50, 1);
  font-size: 13px;
  line-height: 16px;
  background-color: rgba(248, 247, 245, 1);
  border-radius: 5px;
  width: 543px;
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 14px;
}

.order a {
  color: inherit;
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.small-item-img {
  margin-bottom: 10px;
  margin-right: 10px;
}
.order td:nth-child(3){
  width: 225px;
  padding-top: 10px;
}

.order td:nth-child(4){
  padding-left: 14px;
  vertical-align: top;
  padding-top: 8px;
}
.order td:nth-child(5){
  padding-left: 30px;
  vertical-align: top;
  padding-top: 8px;
}

.total td{
  border-top: 1px solid #cacac7;
  text-align: end;
  padding-top: 17px;
}
.total-sum {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
}

.shopping-list .price-per-one {
  color: rgb(188, 188, 186);
}
.shopping-list{
  margin-bottom: 17px;
}
.del-button{
   border: none;
   background: none;
   width:11px;
   height:11px;
   background-image:url("../img/del-icon.svg");
   background-repeat: no-repeat;
   margin-right: 10px;
   cursor: pointer;
   display: block;
   margin-bottom: 20px;

}

.order .buttons {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  line-height: 24px;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 40px;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  margin-left: 355px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

.blog h3:hover,
.blog h3:active,
.blog h3:focus {
  color: rgb(232, 77, 55);
}

.feedback-form input:hover,
.search-form input:hover,
.sing-in-form input:hover,
.feedback-form input:focus,
.search-form input:focus,
.sing-in-form input:focus {
  box-shadow: 0 0 0px 1px rgb(199, 198, 197);

}

.feedback-form input:active,
.search-form input:active,
.sing-in-form input:active,
.feedback-form input:focus,
.search-form input:focus,
.sing-in-form input:focus {
   box-shadow: 0 0 0px 1px rgb(143, 189, 236);
}

.sorting:hover {
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-footer {
  display: flex;
  width: 1146px;
  margin: 0 auto;
}

.catalog-footer {
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  padding-top: 5px;
}

.main-search {
  padding-right: 35px;
  position: relative;
  margin-right: 10px;
}

.main-search a::before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-position: center;
  top: -17px;
}

.main-search a:hover::before {
  background-image: url("../img/loupe-active.svg");
  background-color: rgba(248, 247, 244, 1);
}

.log-in a {
  display: inline-block;
  padding-left: 42px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.log-in a::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/enter-icon.svg");
  background-repeat: no-repeat;
  left: 15px;
  top: 6px;
}

.log-in a:hover::before {
  background-image: url("../img/enter-icon-active.svg");
}

.empty-cart a {
  position: relative;
  padding-left: 46px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  display: inline-block;
}

.empty-cart a::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  left: 17px;
  top: 6px;
}
.empty-cart a:hover::before {
  background-image: url("../img/full-cart-icon.svg");
}


.user-field {
  margin-left: auto;
  align-self: center;
}

.full-cart p {
  margin: 0 0;
  padding: 0 0;
}

.full-cart a {
  color: rgba(50, 50, 50, 1);
  line-height: 16px;
  position: relative;
  padding-left: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  display: inline-block;
}

.full-cart a::before {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  background-image: url("../img/full-cart-icon.svg");
  background-repeat: no-repeat;
  left: 15px;
  top: 6px;
}
